@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}

.main-sobre {
    height: 96vh ;
    max-width: 600px;
    background-color: rgb(244, 250, 255);
    margin: auto;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 26px 26px 31px -19px rgba(180, 180, 180, 0.349);
    position: relative;
    
    
    
}

.main-index{
    height: 800px;
    max-width: 800px;
    color: white;
    margin: auto;
    padding: 10px;
    margin-top: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.main-index h1 {
    text-align: center;

}

header  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

header  p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

nav {
    display: flex;
    gap: 32px;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 40px ;
   

}

nav > a {
    font-weight: bolder;
    font-size: 18px;
    color: white;
    background-color: rgba(128, 128, 128, 0.644);
    padding: 3px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: bold;
    
}

nav > a:hover {
    background-color: white;
    color: black;
    transition-duration: .5s;
}

.logo {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.imagens-logo {
    display: flex;
    
    height: 35px;
}

main h1 {
    color: white;
    text-align: center;
    padding-bottom: 40px;
    
    
}


.princial{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black;
    
}

.sobre {
    
    background-color: white; 
    text-align: justify;
    padding: 10px;
    border: 1.5px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.336);
    margin-bottom: 30px;
}

.minha-foto > img  {
    width: 100%;
    display: block;    
    padding-top: 10px;
    margin-bottom: 30px;

}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.main-contato {
    
    height: 96vh ;
    max-width: 600px;
    background-color: rgb(244, 250, 255);
    margin: auto;
    position: relative;
}

.contato {
    background-color: white;
    border: 1.5px solid black;
    border-radius: 10px ;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 1em;
    width: 400px;
    padding: 20px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto; 

}

.contato h2 {
    color: rgb(0, 0, 0);
    padding: 30px;
    border-top: 0.4px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 20px;
    
}

.contato p {
    padding: 20px;
    text-decoration: underline;
    font-weight: bold;
    
}

.main-portifolio {
    
    height: 96vh ;
    max-width: 600px;
    background-color: rgb(244, 250, 255);
    margin: auto;
    position: relative;
}

.section-portifolio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.projeto1 img {
    display: flex;
    
    height: 100px;
}
.projeto1:hover {
    display: flex;
    
    height: 120px;
}

.projeto2 img {
    display: flex;
    
    height: 100px;
}
.projeto2:hover {
    display: flex;
    
    height: 120px;
}


.voltar {
    position: absolute;
    bottom: 0;
    
}

.voltar img{
    width: 35px;
    
}